.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h1 { 
   position: absolute; 
   top: 200px; 
   left: 415px; 
   width: 100%;
   color: white;
   font-size: 60px; 
}

.name {
	position: absolute; 
   top: 265px; 
   left: 677px; 
   width: 100%;
   color: white;
   font-size: 60px; 
}