.image {
   background-image: url('herobg-1.jpg');
   background-size: cover;
   height: 800px;
   max-width: 100%;
   
}

.page {
   height: 600px;
   max-width: 100%;
}

.inner {
   margin-top: 15%;
   max-height: 500px;
   max-width: 100%;
}

.text3 {
   text-align: center;
   font-size: 60px;
   color: white;
   animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */

}

.text4 {
   text-align: center;
   font-size: 45px;
   color: white;
    animation: fadein 15s;
  -moz-animation: fadein 15s; /* Firefox */
  -webkit-animation: fadein 15s; /* Safari and Chrome */
  -o-animation: fadein 15s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}