h1 { 
   position: absolute; 
   top: 200px; 
   left: 365px; 
   color: white;
   font-size: 60px; 
   line-height: 0;
   margin-top: 85px;
   margin: 20px;
}

.name {
	position: absolute; 
   top: 265px; 
   left: 627px; 
   color: white;
   font-size: 60px; 
   line-height: 0;
   margin-top: 85px;
}